<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-white-50 bg-dark"> &copy; YelpCamp 2022</span>
        <!-- <p class="t">.text-muted</p> -->
    </div>
</footer>